.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.loadingBox {
  transform: translateY(-60%);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  row-gap: .75em;
  width: 70%;
  max-width: 420px;
  padding: 2em 1.5em;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.loadingBox h1 {
  font-size: 1rem;
}

.loadingTrack {
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background-color: #f2f2f2;
  overflow: hidden;
}

.loadingThumb{
  display: block;
  width: 30%;
  min-height: 100%;
  background-color: var(--deepBlue);
  border-radius: 5px;
  animation: loadMovement 2s ease-out infinite;
  animation-fill-mode: forwards;
}

@keyframes loadMovement {
  0%{
    transform: translateX(-100%);
  }

  100%{
    transform: translateX(350%);
  }
}