/*

  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/** End of CSS Reset */
:root{
  --darkGrey: #4f4f4f;
  --midGrey: #a9a9a9;
  --lightGrey: #bdbdbd;
  --deepBlue: #2f80ed;
  --lightBlue: #f6f8fb;
  --white: #ffffff;
  --borderBlue: #97bef4;
}