.container {
  background-color: var(--white);
  text-align: center;
  padding: 2em 0;
  max-width: 800px;
  margin: 0 auto;
}

.container h1 {
  color: var(--darkGrey);
  font-size: 1.5rem;
  margin-bottom: .5em;
}

.fileClarifications {
  margin: .1em 0 2em;
}.fileClarifications h2 {
  color: #828282;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: .25em;
} .fileClarifications span {
  font-size: .75rem;
  background-color: var(--lightBlue);
  padding: .5em;
  border-radius: 5px;
  color: var(--deepBlue);
}

.imageDrop {
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  background-color: var(--lightBlue);
  border: 2px dashed var(--borderBlue);
  border-radius: 8px;
  align-items: center;
  row-gap: 2em;
  margin-bottom: 1em;
}.imageDrop p{
  color: var(--lightGrey);
}
.activeImageDrop{
  border-color: var(--darkGrey);
  background-color: #50545b;
} .activeImageDrop p{
  color: var(--lightBlue);

}

.imageDrop ~ p {
  color: var(--midGrey);
  margin-bottom: 1.5em;
}

.fileButton{
  cursor: pointer;
  width: 70%;
  max-width: 150px;
  background-color: var(--deepBlue);
  padding: .5em 0;
  border-radius: 8px;
  color: var(--white);
  outline: none;
  border: none;
}

.fileButton:hover, .fileButton:focus{
  opacity: 65%;
  transform: scale(.98);
}

.fileInput{
  display: none;
}